<div class="container">
  <div class="row">

    <div class="col-md-6">
      <h1>Recipe</h1>
    </div>

    <div class="col-md-6">
      <h1>Utilities</h1>

      <button class="btn btn-primary" ng-click="random()">Random</button>
      <button class="btn btn-primary" ng-click="start()">Start</button>
      <div>
        <p> Countdown Timer: {{counter}} </p>
      </div>
      <small><em>Temperature </em></small>
      <progressbar class="progress-striped active" value="dynamic" type="{{type}}">{{type}}</progressbar>

      <img ng-src="{{type == 'Too Hot' && 'Big.png' || type == 'Too Cold' && 'Small.png' || type == 'Higher' &&  'Medium.png' || 'Okay.png' }}" width="250" height="200" />
    </div>

  </div>
</div>
